/Volumes/Macintosh HD/Users/vi34/Documents/учеба/с++/course_proj/.idea
.idea/

*.1

client/client/a.out

*.pbxproj

server/a.out

*.xcuserstate

*.xcscheme

CMakeLists.txt

*.xcbkptlist

*.xcbkptlist

server.xcodeproj/xcuserdata/vi34.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

server.xcodeproj/xcuserdata/vi34.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
